.searchButton {
    border-radius: 4px;
    -fx-background-color: #ece7e7;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.searchButton:hover {
    border-radius: 4px;
    -fx-background-color: #dddddd;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.searchButton:pressed {
    border-radius: 4px;
    -fx-background-color: #e1e1e1;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
